body {
  background-color: #E8E8E8;
}

.form {
	max-width: 400px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
	text-align: -webkit-center;
}

.form ul li feedback {
    text-color: red;
}

h1 {
    color: darkblue;
}

ul {
	width: 280px;
}

ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.field-style {
	padding: 8px;
	border: 1px solid #B0CFE0;
	width: -webkit-fill-available;
}

.field-style:focus {
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}

.logout {
    text-align: end;
}

.logout label {
  color: #271780;
  padding: 8px;
}

.logout input[type="submit"] {
    padding: 10px;
    margin: 4px;
}

input[type="button"],
input[type="submit"] {
  background-color: #B6B6B6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.convert-form {
	background: #FAFAFA;
	padding: 30px;
	text-align: -webkit-center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}