<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Converter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="logout">
        <label  class="" th:text="${account.login}"></label>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form class="convert-form" th:action="@{/convert}" th:object="${converterWrapper}" method="POST" >
            <div>
                <h1>Конвертер</h1>
                <ul style="display: inline-grid; margin-inline: 50px;">
                    <li>
                        Что конвертировать?
                    </li>
                    <li>
                        <select th:field="*{original}">
                            <option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.name}"></option>
                        </select>
                    </li>
                    <li>
                        <input class="field-style" th:field="*{originalValue}"/>
                    </li>
                </ul>
                <ul style="display: inline-grid; margin-inline: 50px;">
                    <li>
                        Во что конвертировать?
                    </li>
                    <li>
                        <select th:field="*{target}">
                            <option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.name}"></option>
                        </select>
                    </li>
                    <li>
                        <label class="field-style" th:text="*{#numbers.formatDecimal(targetValue,1,2,'COMMA')}"></label>
                    </li>
                </ul>
            </div>
            <input type="submit" value="Convert">
        </form>
        <form th:action="@{/search}" th:object="${searchWrapper}" method="POST" class="convert-form">
            <h1>История</h1>
            От:
            <input th:field="*{startDate}" type="date"/>
            До:
            <input th:field="*{endDate}" type="date"/>
            Из:
            <select th:field="*{original}">
                <option th:value="null"></option>
                <option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.name}"></option>
            </select>
            В:
            <select th:field="*{target}">
                <option th:value="null"></option>
                <option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.name}"></option>
            </select>
            <input type="submit" value="Search">
            <table>
                <thead>
                <th>Исходная валюта</th>
                <th>Целевая валюта</th>
                <th>Исходная сумма</th>
                <th>Получаемая валюта</th>
                <th>Дата</th>
                </thead>
                <tbody>
                <tr th:each="record : ${history}">
                    <td th:text="${record.original.currency.name}"></td>
                    <td th:text="${record.target.currency.name}"></td>
                    <td th:text="${#numbers.formatDecimal(record.originalValue,1,2,'COMMA')}"></td>
                    <td th:text="${#numbers.formatDecimal(record.targetValue,1,2,'COMMA')}"></td>
                    <td th:text="${#temporals.format(record.date, 'dd-MM-yyyy HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>