<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Login</title>
</head>
<body>
    <form class="form" th:action="@{/login}" method="POST">
        <ul>
            <li>
                <input type="text" name="username" class="field-style" placeholder="Name" required/>
            </li>
            <li>
                <input type="password" name="password" class="field-style" placeholder="Password" required/>
            </li>
            <li>
                <div><input type="submit" value="Sign In"/></div>
            </li>
            <li class="feedback" th:if="${param.error}">
                Invalid username or password.
            </li>
            <li class="feedback" th:if="${param.logout}">
                You have been logged out.
            </li>
            <li>
                Не зарагестрированы? <a href="/registration">Регистриция</a>
            </li>
        </ul>
    </form>
</body>
</html>