<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registration</title>
</head>
<body>
    <form class="form" th:action="@{/registration}" th:object="${registrationDataWrapper}" method="POST" >
        <ul>
            <li>
                Логин: <input class="field-style" th:field="*{login}" required/>
            </li>
            <li>
                Пароль: <input class="field-style" th:field="*{password}" required/>
            </li>
            <li>
                <input type="submit" value="Зарегестрироваться">
            </li>
            <li>
                Зарегестрирован? <a href="/login">Логин</a>
            </li>
        </ul>
    </form>
</body>
</html>